.checkout-card {
  position: relative;
  background-color: $background;
  border-radius: 4px;
  padding: 8px 10px 8px 12px;

  .checkout-header {
    margin-bottom: 8px;

    .checkout-title {
      @include text-style(16, $primary);
      font-weight: 400;
      padding-right: 36px - 10px;
    }

    .delete-button {
      @include inline-flexbox;
      position: absolute;
      top: 8px;
      right: 8px;
      width: 20px;
      height: 20px;
      font-size: 20px;
      color: $secondary;

      &:hover,
      &:active {
        opacity: 0.5;
      }
    }
  }

  .checkout-footer {
    @include flexbox(between);

    .checkout-select {
      position: relative;
      display: inline-block;

      &:hover,
      &:active {
        select {
          border-color: $tertiary;
        }
        i {
          color: $secondary;
        }
      }

      select {
        @include text-style(14, $primary);
        font-weight: 400;
        width: 72px;
        height: 24px;
        line-height: 1;
        background-color: $white;
        border: 1px solid $border;
        border-radius: 3px;
        padding: 0 8px;
        transition: border-color 0.1s ease-in-out;
        appearance: none;
      }

      i {
        @include position-center-y;
        font-size: 20px;
        right: 2px;
        color: $tertiary;
        pointer-events: none;
        transition: color 0.1s ease-in-out;
      }
    }
  }

  @include responsive(D) {
    .checkout-title {
      @include text-style(16, $primary);
      font-weight: 400;
    }
  }
}
