.gnb-nav {
  $padding: 8px;

  &-list {
    @include flexbox(start);
  }

  &-item {
    margin-right: 24px - ($padding * 2);

    &.is-active,
    &:hover {
      a {
        color: $blue;
      }
    }

    a {
      display: block;
      padding: $padding;
      @include text-style(18, &primary);
      font-weight: 700;
    }
  }
  &-item:last-child {
    margin-right: 0;
  }
}
