.gnb-nav {
  &-list {
    @include flexbox(start);
  }

  &-item {
    margin-right: 24px;
    a {
      @include text-style(18);
      font-weight: 700;
    }
  }
  &-item:nth-child(2) {
    color: $blue;
  }
  &-item:last-child {
    margin-right: 0;
  }
}
