.inquiry-card {
  padding-bottom: 40px;

  &-header {
    margin-bottom: 8px;
    @include text-style(12);

    .detail,
    .etc {
      @include flexbox(start);
    }

    .detail {
      color: $primary;
      font-weight: 400;

      dd {
        margin-bottom: 8px;

        &::after {
          content: '|';
          margin: 0 4px;
        }
        &:last-child::after {
          content: none;
        }
      }
    }
    .etc {
      color: $tertiary;

      strong {
        font-weight: 400;

        &:after {
          content: '|';
          margin: 0 4px;
        }
      }
    }
  }

  &-body {
    .question-content {
      @include text-style(13);
      position: relative;
    }
    span {
      position: absolute;
      top: 0;
      left: 0;
      color: $blue;
      font-weight: 700;
    }
    p {
      color: $primary;
      font-weight: 400;
      padding-left: 20px;
    }
  }

  @include responsive(T) {
    &-header {
      margin-bottom: 20px;
    }
    &-body {
      .question-content {
        @include text-style(16);
      }
      p {
        padding-left: 24px;
      }
    }
  }
}
