.inquiry-card {
  padding-bottom: 40px;

  &-header {
    margin-bottom: 8px;
    @include text-style(12);

    .detail,
    .etc {
      @include flexbox(start);
    }

    .detail {
      color: $primary;
      font-weight: 400;

      dd {
        margin-bottom: 8px;

        &.is-answered {
          color: $blue;
        }
        &::after {
          content: '|';
          margin: 0 4px;
        }
        &:last-child::after {
          content: none;
        }
      }
    }
    .etc {
      color: $tertiary;

      strong {
        font-weight: 400;

        &:after {
          content: '|';
          margin: 0 4px;
        }
      }
    }
  }

  &-body {
    .inquiry-content {
      @include text-style(13);
      position: relative;
      padding-left: 20px;

      &:first-child:not(:last-child) {
        margin-bottom: 12px;
      }
    }
    span {
      position: absolute;
      top: 0;
      left: 0;
      color: $blue;
      font-weight: 700;
    }
    p {
      @include flexbox(start);
      color: $primary;
      font-weight: 400;

      i {
        font-size: 16px;
        color: $tertiary;
        margin-right: 8px;
      }
    }
    .seller {
      margin-bottom: 4px;
      @include flexbox(start);

      strong {
        font-weight: 700;
        color: $primary-dark;
        margin-right: 4px;
      }
      time {
        @include text-style(12, $tertiary);
        font-weight: 400;
      }
    }
  }

  @include responsive(T) {
    &-header {
      margin-bottom: 20px;
    }
    &-body {
      .inquiry-content {
        @include text-style(16);
        padding-left: 24px;

        &:first-child:not(:last-child) {
          margin-bottom: 16px;
        }
      }
      .seller {
        margin-bottom: 8px;

        strong {
          @include text-style(16);
        }
      }
    }
  }
}
