.inquiry-card {
  padding-bottom: 40px;

  &-header {
    @include text-style(12);
    margin-bottom: 8px;

    .detail,
    .etc {
      @include flexbox(start);
    }

    .detail {
      margin-bottom: 8px;

      dd {
        color: $primary;
        font-weight: 400;

        &::after {
          content: '|';
          margin: 0 4px;
        }
        &:last-child::after {
          content: none;
        }

        &.is-answered {
          color: $blue;
        }
      }
    }

    .etc {
      color: $tertiary;

      strong {
        font-weight: 400;

        &::after {
          content: '|';
          margin: 0 4px;
        }
      }
    }
  }

  &-body {
    .question-content {
      @include text-style(13, $primary);
      position: relative;
      padding-left: 20px;

      span {
        position: absolute;
        top: 0;
        left: 0;
        color: $blue;
        font-weight: 700;
      }

      p {
        font-weight: 400;

        i {
          position: relative;
          top: 2px;
          font-size: 16px;
          color: $tertiary;
          margin-right: 4px;
        }
      }
    }

    .answer-content {
      @include text-style(13);
      position: relative;
      padding-left: 20px;
      margin-top: 12px;

      span {
        position: absolute;
        top: 0;
        left: 0;
        color: $blue;
        font-size: 13px;
        font-weight: 700;
      }

      .info {
        @include flexbox(start);
        margin-bottom: 4px;

        .seller {
          color: $primary-dark;
          font-weight: 700;
          margin-right: 4px;
        }

        time {
          @include text-style(12, $tertiary);
          font-weight: 400;
        }

        p {
          color: $primary;
          font-weight: 400;
        }
      }
    }
  }

  @include responsive(T) {
    &-header {
      margin-bottom: 20px;
    }

    &-body {
      .question-content {
        @include text-style(16);
        padding-left: 24px;

        p {
          font-weight: 400;

          i {
            position: relative;
            top: 2px;
            font-size: 24px;
            color: $tertiary;
            margin-right: 4px;
          }
        }
      }

      .answer-content {
        @include text-style(16);
        padding-left: 24px;
        margin-top: 16px;

        span {
          font-size: 16px;
        }
      }
    }
  }
}
