.product-info {
  padding: 20px 0;

  &-header {
    margin-bottom: 16px;

    .info-brand {
      @include text-style(13, $blue);
      font-weight: 700;
    }

    .info-title {
      @include text-style(18, $primary-dark);
      font-weight: 400;
      margin-bottom: 4px;
    }

    .info-review {
      @include flexbox(start);

      .star-rating-13 {
        margin-right: 8px;
      }

      strong {
        @include text-style(13, $blue);
        font-weight: 700;
      }
    }
  }

  &-price {
    margin-bottom: 16px;

    .info-price-sale {
      @include flexbox(start);
      @include text-style(20, $blue);
      font-weight: 700;

      .rate {
        font-family: $font-price;
      }
      .percent {
        font-family: $font-main;
      }
    }

    .info-price-origin {
      @include flexbox(start);
      margin-bottom: 12px;

      .badge {
        margin-left: 4px;
      }
    }

    .info-price-point {
      @include text-style(13, $secondary);
      font-weight: 400;

      strong {
        @include text-style(13, $blue);
        font-weight: 700;
        margin-right: 4px;
      }
    }
  }

  &-delivery {
    @include column-flexbox(start, start);
    padding-top: 12px;
    border-top: 1px solid $border;

    span {
      @include text-style(16, $primary);
      font-weight: 400;
      display: inline-block;
      margin-bottom: 2px;
    }
  }

  @include responsive(T) {
    padding: 0;

    &-header {
      .info-brand {
        display: inline-block;
        margin-bottom: 8px;
      }

      .info-title {
        @include text-style(24, $primary-dark);
        font-weight: 400;
        margin-bottom: 8px;
      }

      .info-review {
        .star-rating-13 {
          font-size: 16px;
          margin-right: 8px;
        }
        span {
          @include text-style(13, $blue);
          font-weight: 700;
        }
      }
    }

    &-price {
      margin-bottom: 20px;

      .info-price-wrapper {
        @include flexbox(start);
        margin-bottom: 12px;
      }

      .info-price-sale {
        @include flexbox(end, end);
        margin-right: 16px;

        .rate {
          font-size: 44px;
          line-height: 36px;
        }
        .percent {
          font-size: 20px;
          line-height: 1;
        }
      }

      .info-price-origin {
        .badge {
          margin-left: 8px;
        }
      }
    }

    &-delivery {
      padding-bottom: 20px;
      border-bottom: 1px solid $border;

      span {
        margin-bottom: 8px;
      }
    }
  }

  @include responsive(D) {
    margin-bottom: 20px;
  }
}
