.product-shipment {
  @include mobile-only {
    &.is-open {
      .product-section {
        display: block;

        &-divider:last-child {
          display: block;
        }

        .icon-link {
          i {
            transform: rotate(180deg);
          }
        }
      }

      > .product-section-header {
        display: none;
      }
    }

    .product-section {
      display: none;

      &-divider:last-child {
        display: none;
      }
    }
  }
}
