.product-spec {
  padding-top: 20px;

  .button-wrapper {
    display: none;
  }

  figure {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .product-table {
    margin-top: 20px;
  }

  @include responsive(T) {
    padding-top: 80px;

    &-header {
      h1 {
        @include text-style(18, $primary);
        font-weight: 700;
        padding: 18px 0;
      }
    }
    .product-table {
      margin-top: 40px;
    }
  }
}
