.product-recommendation {
  .recommendation-list {
    @include flexbox(between, start);
    flex-wrap: wrap;
  }

  .recommendation-item {
    width: calc(50% - 10px); // (100% - 20px) / 2
    height: auto;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 20px;
    }

    a {
      display: block;

      &:active {
        img {
          transform: translate(-50%, -50%) scale(1.1);
        }

        .recommendation-card-title {
          opacity: 0.5;
        }
      }
    }
  }

  @include responsive(T) {
    .recommendation-item {
      width: calc(33.333% - 10.666px); // (100% - 32px) / 3

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 0px;
      }

      &:last-child {
        display: none;
      }
    }
  }

  @include responsive(D) {
    .recommendation-item a:hover {
      img {
        transform: translate(-50%, -50%) scale(1.1);
      }

      .recommendation-card-title {
        opacity: 0.5;
      }
    }
  }
}
