.review-card {
  padding: 20px 0;
  border-bottom: 1px solid $border;

  &:last-child {
    border: 0;
  }

  &-header {
    @include flexbox(start);
    margin-bottom: 20px;

    .avatar-24 {
      display: inline-block;
      margin-right: 8px;
    }

    .user-info {
      @include column-flexbox(start, start);

      .user-name {
        @include text-style(13, $primary);
        font-weight: 400;
      }
    }

    .user-rating {
      @include flexbox(start);

      .star-rating-13 {
        margin-right: 4px;
      }
    }

    .user-etc {
      @include text-style(12, $secondary);
      font-weight: 400;

      span::before {
        display: inline-block;
        content: '∙';
        margin-right: 4px;
      }
    }
  }

  &-content {
    margin-bottom: 20px;

    p {
      @include text-style(13, $primary);
      font-weight: 400;
    }

    img {
      display: block;
      width: 64px;
      height: 64px;
      border-radius: 4px;
      margin-bottom: 8px;
    }
  }

  &-footer {
    @include flexbox(start);

    button {
      display: inline-block;
      width: 120px;
      margin-right: 8px;

      i.ic-check {
        width: 20px;
        height: 20px;
        font-size: 20px;
        margin-right: 4px;
      }
    }

    p {
      @include text-style(12, $primary);
      font-weight: 400;

      strong {
        font-weight: 400;

        span {
          font-weight: 700;
        }
      }
    }
  }

  @include responsive(T) {
    padding: 40px 0;

    &-content,
    &-footer {
      padding-left: 32px;
    }

    &-content {
      img {
        width: 112px;
        height: 112px;
        margin-bottom: 16px;
      }

      p {
        @include text-style(14);
      }
    }
  }

  @include responsive(D) {
    &-header {
      .avatar-24,
      .user-name {
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

// .product-section-content {
//   .review-empty {
//     @include text-style(16, $secondary);
//     font-weight: 400;
//     text-align: center;

//     strong {
//       color: $blue;
//       font-weight: 700;
//     }
//   }
// }
