.product-user-gallery {
  .product-section-content {
    margin: 0 -15px;
  }

  .user-gallery-thumbnail {
    overflow: hidden;
    margin-top: 4px;

    &-list {
      @include flexbox(start);
      padding-left: 2px;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-item {
      margin-right: 4px;
      &:last-child {
        margin-right: 0;
      }
      &.tns-nav-active {
        button {
          border: 3px solid $blue;
        }
      }

      button {
        @include flexbox;
        width: 64px;
        height: 64px;
        overflow: hidden;
        border-radius: 4px;
        flex-shrink: 0;
        flex-grow: 0;

        img {
          display: block;
          width: 64px;
          height: 64px;
          object-fit: cover;
        }
      }
    }
  }
  .user-gallery-slider {
    position: relative;
  }

  .user-gallery-controls {
    @include flexbox(between);
    @include position-center;
    width: 100%;
    padding: 0 58px;

    .control-button {
      @include flexbox;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $white;
      color: $primary;
      font-size: 28px;
      transition: color 100ms ease-in-out, background-color 100ms ease-in-out;

      &:hover {
        background-color: $blue;
        color: $white;
      }

      &.is-prev {
        i {
          margin-left: -3px;
          transform: rotate(90deg);
        }
      }
      &.is-next {
        i {
          margin-left: 3px;
          transform: rotate(-90deg);
        }
      }

      &[disabled] {
        visibility: hidden;
      }
    }
  }

  @include responsive(T) {
    .product-section-content {
      margin: 0;
    }

    .user-gallery-thumbnail {
      margin-top: 6px;

      &-list {
        padding-left: 0;
      }
      &-item {
        button {
          width: 75px;
          height: 75px;

          img {
            width: 75px;
            height: 75px;
          }
        }
      }
    }
  }
}
