.floating-order-form {
  $global-header-height: $gnb-height-md + $lnb-height-md +
    $product-tab-height-md;

  @include flexbox(start, start);
  flex-direction: column;
  position: sticky;
  top: $global-header-height;
  padding: 24px 0;
  min-height: calc(100vh - #{$global-header-height + $global-footer-height-md});
  max-height: calc(100vh - #{$global-header-height});

  > * {
    width: 100%;
  }

  .order-form-select,
  .order-form-summary,
  .order-form-button-group {
    flex-shrink: 0;
    flex-grow: 0;
  }

  .order-checkouts {
    @include no-scrollbar;
    overflow: scroll;
    flex-grow: 1;
  }

  .order-form-button-group {
    button {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }

    .bookmark-button {
      width: 55px;
      height: 55px;
      border: 1px solid $border;
      border-radius: 4px;
      flex-shrink: 0;
      transition: background 0.2s ease-in-out;

      &.is-active {
        i {
          color: $blue;
        }
      }

      &:hover {
        background-color: $background;
      }

      i {
        font-size: 32px;
        color: $primary;
      }
    }
  }
}
