.floating-order-form {
  $global-header-height: $gnb-height-md + $lnb-height-md +
    $product-tab-height-md;

  @include flexbox(start, start);
  flex-direction: column;
  padding: 24px 0;
  position: sticky;
  top: $global-header-height;
  min-height: calc(100vh - #{$global-header-height + $global-footer-height-md});
  max-height: calc(100vh - #{$global-header-height});

  &-select,
  .order-summary,
  .order-button-group {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .order-checkout {
    flex-grow: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .order-button-group {
    button.bookmark-button {
      width: 55px;
      height: 55px;
      border-radius: 4px;
      border: 1px solid $border;
      flex-grow: 0;
      flex-shrink: 0;
      transition: background-color 300ms ease-in-out;

      i {
        font-size: 32px;
        color: $primary;
      }

      &.is-active {
        i {
          color: $blue;
        }
      }

      &:hover {
        background-color: $background;
      }
    }
    button.btn-outlined {
      margin-right: 8px;
    }
  }
}
