.global-footer {
  padding: 32px 0 40px 0;
  background-color: $background;
  margin-bottom: $order-cta-height;

  &-title {
    @include text-style(13, $primary-dark);
    font-weight: 700;

    .ic-chevron {
      display: inline-block;
      font-size: 12px;
      transform: rotate(-90deg);
    }
  }
  &-contact {
    @include text-style(24, $primary-dark);
    font-weight: 700;
  }
  &-time {
    @include text-style(12, $primary);
    font-weight: 400;
  }

  &-detail-list {
    margin-top: 24px;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: $secondary;
  }
  &-detail-item {
    @include flexbox(start);

    address {
      font-style: normal;
    }

    dt::after {
      margin: 0 2px;
      content: ':';
    }
  }

  @include responsive(D) {
    margin-bottom: 0;

    &-title {
      @include text-style(14);
    }

    &-contact {
      margin-bottom: 2px;

      &:hover {
        opacity: 0.6;
      }
    }

    &-detail-list {
      @include flexbox(start);
    }
    &-detail-item {
      a:hover {
        text-decoration: underline;
      }
      &::after {
        content: '|';
        margin: 0 8px;
      }
      &:last-child::after {
        content: '';
      }
    }
  }
}
