.gnb {
  position: relative;
  background-color: $white;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);
    height: 50px;
  }

  &-right {
    .button-group {
      @include flexbox(end);
    }

    .gnb-icon-button.is-search {
      margin-right: 4px;
    }
  }

  .logo {
    @include position-center;

    a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 20px;
    }
  }

  /* ===== tablet ===== */
  @include responsive(T) {
    &-left {
      @include flexbox(start);
    }

    &-right {
      @include flexbox(end);

      .button-group {
        margin-right: 24px;

        .gnb-icon-button {
          margin-right: 8px;
        }

        .auth-group {
          margin-left: 8px;

          a {
            margin-right: 12px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    &-wrapper {
      height: 80px;
    }

    .logo {
      position: static;
      transform: none;
      margin-right: 32px;

      img {
        height: 24px;
      }
    }

    .btn-fill-primary {
      width: 88px;

      i {
        margin-left: 4px;
      }
    }
  }

  /* ===== desktop ===== */
  @include responsive(D) {
    &-search {
      position: relative;
      width: 264px;
      margin-right: 24px;

      .input-group {
        width: 100%;

        .gnb-icon-button {
          margin-right: 12px;
        }
      }

      .search-history {
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        width: 100%;
        border: 1px solid $border;
        border-radius: 4px;
        background-color: $white;
        padding: 16px 8px 8px;
        box-shadow: $dropdown-shadow;
        opacity: 0;
        visibility: hidden;

        &-header {
          padding: 0 8px;
        }
      }
    }
  }
}
