/* 
  * MOBILE(<768px) ---------------------------------------
  * Fixture ----- sm
  * # of columns ----- 4
  * unit ----- (100%-(5px*2)) / 4 - 20px
  * gutter ----- 20px
  * margin ----- 5px
  * container ----- 100%-(5px*2)
  *
  * TABLET(>=768px) ---------------------------------------
  * Fixture ----- md
  * # of columns ----- 12
  * gutter ----- 20px
  * margin ----- 5px
  * container ----- 100%-(30px*2)
  * max-container-size ----- 960px
  *
  * DESKTOP(>=1200px) ---------------------------------------
  * Fixture ----- lg
  * # of columns ----- 12
  * unit ----- 75px
  * gutter ----- 20px
  * margin ----- auto
  * container ----- 1140px
  * max-container-size ----- 1140px
*/

$gutter: 20px;

$sm-columns: 4;
$sm-margin: 5px;

$md-columns: 12;
$md-margin: 30px;
$md-max-container: 960px + $md-margin * 2;

$lg-columns: 12;
$lg-unit: 75px;
$lg-max-container: ($lg-unit + $gutter) * $lg-columns;

.container {
  width: 100%;
  padding: 0 $sm-margin;
  margin: 0 auto; /* container가 항상 중앙에 정렬될 수 있도록 */

  .row {
    display: flex;
    flex-wrap: wrap; /* 기본값 : no-wrap */
  }

  [class^='col-'] {
    /* [] : 속성선택자 */
    padding: 0 $gutter / 2;
  }

  @for $i from 1 through $sm-columns {
    .col-sm-#{$i} {
      width: percentage($i / $sm-columns);
    }
  }

  /* MOBILE일때와 달라지는 것만 적으면 된다. */
  @include responsive(T) {
    max-width: $md-max-container;
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      .col-md-#{$i} {
        width: percentage($i / $md-columns);
      }
    }
  }

  @include responsive(D) {
    max-width: $lg-max-container;
    padding: 0;

    @for $i from 1 through $lg-columns {
      .col-lg-#{$i} {
        width: ($lg-unit + $gutter) * $i;
      }
    }
  }
}
