.lnb {
  $lnb-link-padding: 8px;

  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &-list {
    @include inline-flexbox(start);
    white-space: nowrap;
    // width: max-content;
    margin-left: -15px;
    padding: 0 7px;
    height: 40px;
    border-bottom: 1px solid $border;
  }
  &-item {
    // flex-shrink: 0;
    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }

    a {
      @include inline-flexbox;
      @include text-style(13, $primary-dark);
      font-weight: 700;
      height: 40px;
      padding: 0 $lnb-link-padding;
      border-bottom: 2px solid transparent;
      transition: color 200ms ease-in-out;

      &:hover {
        color: $blue;
      }
      &:last-child {
        i {
          position: relative;
          top: 2px;
          font-size: 16px;
          color: red;
        }
      }
    }
  }
}

/* ===== Desktop ===== */
@include responsive(D) {
}
// }
