.lnb {
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + $gutter / 2; // 15px

  background-color: $white;
  overflow-x: auto;

  @include no-scrollbar();

  &-list {
    @include inline-flexbox(start);
    width: max-content;
    height: $lnb-height-sm;
    white-space: nowrap;
    border-bottom: 1px solid $border;
    margin-left: -#{$grid-margin};
    padding: 0 #{$grid-margin - $lnb-link-padding};
  }

  &-item {
    a {
      @include inline-flexbox;
      @include text-style(13, $primary-dark);
      font-weight: 700;
      height: 40px;
      padding: 0 $lnb-link-padding;
      border-bottom: 2px solid transparent;
      transition: color 0.2s ease-in-out;
    }

    &:hover {
      a {
        color: $blue;
      }
    }

    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }
  }

  /* ===== Tablet ===== */
  @include responsive(T) {
    &-list {
      height: $lnb-height-md;
      margin: 0 -10px;
    }
    &-item {
      padding: 13px $lnb-link-padding;

      a {
        @include text-style(14, $primary-dark);
        font-weight: 700;
      }
    }
  }
}
