.lnb {
  border-bottom: 1px solid $border;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &-list {
    @include inline-flexbox(start);
    white-space: nowrap;
    // width: max-content;
    position: relative;
    left: -8px;
  }
  &-item {
    // flex-shrink: 0;
    &.is-active {
      a {
        color: $blue;
        border-bottom: 2px solid $blue;
      }
    }

    a {
      @include inline-flexbox;
      @include text-style(13, $primary-dark);
      font-weight: 700;
      height: 40px;
      padding: 0 8px;
      transition: color 200ms ease-in-out;

      &:hover {
        color: $blue;
      }
      &:last-child {
        i {
          position: relative;
          top: 2px;
          font-size: 16px;
          color: red;
        }
      }
    }
  }
}

// .lnb {
//   border-bottom: 1px solid $border;
//   &-nav {
//     height: 50px;

//     &-list {
//       @include flexbox(start);
//     }
//     &-item {
//       padding: 13px 8px;
//       &:active {
//         border-bottom: 2px solid $blue;
//       }

//       a {
//         @include text-style(14, $primary-dark);
//         font-weight: 700;
//         &:hover {
//           color: $blue;
//         }
//       }

//       &:last-child {
//         i {
//           position: relative;
//           top: 2px;
//           font-size: 16px;
//           color: red;
//         }
//       }
//     }
//   }

/* ===== Desktop ===== */
@include responsive(D) {
}
// }
