.order-cta {
  @include inline-flexbox;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $order-cta-height;
  padding: 4px;
  background-color: $white;
  z-index: $order-cta-level;

  .btn-ghost {
    flex-flow: 0;
    flex-shrink: 0;
    width: 72px;
    margin-right: 4px;
    flex-direction: column;

    i {
      @include flexbox;
      width: 24px;
      height: 24px;
      font-size: 24px;

      &.is-active {
        color: $blue;
      }
    }

    span {
      font-size: 10px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: -0.05em;
      color: $secondary;
    }
  }

  .btn-fill-primary {
    flex-flow: 1;
    width: 100%;
  }
}
