.product-tab {
  $grid-margin: $sm-margin + ($gutter / 2);

  position: sticky;
  top: $gnb-height-sm + $lnb-height-sm;
  width: 100%;
  height: $product-tab-height-sm;
  background-color: $white;
  border-bottom: 1px solid $border;
  z-index: $product-tab-level;

  &-list {
    @include flexbox;
    margin: 0 -#{$grid-margin};
  }

  &-item {
    @include flexbox;
    width: (100% / 5);
    height: $product-tab-height-sm;
    padding: 0 8px;
    border-bottom: 2px solid transparent;

    &.is-active {
      border-bottom: 2px solid $blue;

      button {
        color: $blue;
      }
    }

    &:hover,
    &:active {
      button {
        color: $blue;
      }
    }

    button {
      @include flexbox;
      @include text-style(13, $primary);
      font-weight: 700;
      width: 100%;
      height: $product-tab-height-sm;
      white-space: nowrap;
    }

    .badge {
      @include text-style(12, $secondary);
      font-weight: 700;
      margin-left: 4px;
    }
  }

  @include responsive(T) {
    top: $gnb-height-md + $lnb-height-md;
    height: $product-tab-height-md;
    background-color: $background;
    border-bottom: 0;
    margin: 40px 0;

    &-list {
      margin: 0;
    }

    &-item {
      height: $product-tab-height-md;
      padding: 0;

      button {
        @include text-style(16);
      }

      .badge {
        @include text-style(16);
        margin-left: 8px;
      }
    }
  }
}
