.product-tab {
  height: 40px;

  &-list {
    @include flexbox(start);
    margin: 0 -15px;
    border-bottom: 2px solid transparent;
  }
  &-item {
    @include flexbox;
    width: calc(100% / 5);

    &.is-active {
      border-bottom: 2px solid $blue;

      button {
        color: $blue;
      }
    }

    button {
      @include text-style(13, $primary-dark);
      font-weight: 700;
      width: 100%;
      height: 40px;
      padding: 10px 0;
    }

    .badge {
      @include text-style(12, $secondary);
      font-weight: 700;
      margin-left: 4px;
    }
  }

  @include responsive(T) {
    height: 54px;
    background-color: $background;
    margin: 40px 0;

    &-list {
      margin: 0;
    }
    &-item {
      @include flexbox;

      button {
        font-size: 16px;
        height: 54px;
        padding: 15px 0;
      }

      .badge {
        font-size: 16px;
        margin-left: 8px;
      }
    }
  }
}
