.shopping-basket-modal {
  @include position-center(fixed);
  transform: translate(-50%, -50%);
  width: calc(100% - 15px * 2);
  text-align: center;
  padding: 40px 24px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: $popup-shadow;
  z-index: $shopping-basket-modal-level;
  display: none;

  &.is-active {
    display: block;
  }

  h1 {
    @include text-style(16, $primary-dark);
    font-weight: 700;
    margin-bottom: 24px;
  }

  .button-group {
    @include column-flexbox;

    a {
      margin-bottom: 8px;
    }

    a,
    button {
      width: 100%;
    }
  }

  @include responsive(T) {
    padding: 40px 32px;
    max-width: 360px;

    h1 {
      @include text-style(18);
      margin-bottom: 16px;
    }
  }
}
